<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Welcome to Login Demonstrations</title>
    <style><link rel="stylesheet" type="text/css" href="../public/css/styles.css"></style>
  </head>
  <body>
    <nav>
      <ul>
        <% if (user) { %>
        <li><a href="/auth/logout">Logout</a></li>
        <% } else { %>
        <li><a href="/auth/login">Login</a></li>
        <% } %>
        <li><a href="/">Homepage</a></li>
        <li><a href="/profile">Profile</a></li>
      </ul>
    </nav>
    <header>
      <h1>Sedhawk Login Demo</h1>
      <h2>Homepage</h2>
    </header>
    <main>
      <p>React playground for logins</p>
    </main>
  </body>
</html>
