* {margin: 0; padding: 0;}

.row {
    border: 0px solid black;
    height: 200px;
  }
  
  .col-sm-6 {
    height: 50px;
  }
  
  .col-sm-4 {
    
    height: 200px;
  }
  
  .col-sm-8 {
    
    height: 200px;
  }
  
  .col-sm-3 {
    
    height: 200px;
  }
  
  .col-sm-9 {
    
    height: 200px;
  }

  .col-md-4 {
    
    height: 200px;
  }

  .table {
    width: 400px;
  }
  form {
    width: 400px;
  }
  
  .label, label.inline {
    display: inline-block;
    width: 100px;
  }
  .container {
    height: 300px;
  }
  body {
    font-family: 'Montserrat', sans-serif;
    background-color: lightskyblue;
    font-weight:normal;
    overflow-x:hidden;
    -webkit-font-smoothing: antialiased;
    color: #2d3038;
} 

  #corners {
    border-radius: 25px;
  }

  #padding {
    padding-bottom: 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2d3038;
  }

  ul {
    margin:0;
    padding:0;
    list-style:none;
}

a, a:hover, a:active,
 a:focus, button:focus, .btn:focus,
 .form-control:focus {
     outline: none !important;
     text-decoration: none !important;
     box-shadow: none !important;
 }

 .section-padding {
  padding-top: 80px;
  padding-bottom: 100px;
}

.section-title {
  margin-bottom: 60px;
}

.section-title h1 {
  font-size: 42px;
}

.home-two .section-title h1 {
  font-size: 50px;
  margin-top: 0;
}

.section-content {
  max-width: 750px;
}

.btn.btn-primary {
  padding-left: 30px;
  padding-right: 30px;
  font-size: 16px;
  padding-top: 10px;
  padding-bottom: 10px;
  background-color: #3c70b4;
  border: 1px solid #3c70b4;
  position: relative;
  overflow: hidden;
  z-index: 1;
}

.btn.btn-primary:before {
  position: absolute;
  content: "";
  top: 0;
  left: -100%;
  width: 100%;
  height: 100%;
  background-color: #fff;
  z-index: -1;
}

.btn.btn-primary:hover:before {
  left: 0;
}

.btn.btn-primary:hover {
  color: #3c70b4;
}

a{
  color: #2d3038;
}

a:hover {
  color: #00aeef;
}

  .banner-info h1 {
    font-size: 36px;
    font-family: 'Pacifico', cursive;
}

.banner-info h2 {
    font-size: 96px;
    margin-top: 0;
    line-height: 92px;
    margin-left: -8px;
}

.banner-info h3 {
    font-size: 25px;
    text-transform: uppercase;
    letter-spacing: 26px;
}

.home-two .home-social {
  position: absolute;
  top: 15px;
}

.menu-two .home-social li+li {
  margin-left: 10px;
}

.menu-two .home-social li a {
  color: #2d3038;
  font-size: 15px;
}

.menu-two .home-social li a:hover {
  color: #00aeef;
}

.list-inline{
  font-size: 15px;
}

.list-inline-f{
  font-size: inherit;
}

.list-inline-t{
  font-size: inherit;
}

.list-inline-gp{
  font-size: inherit;
}
.list-inline-l{
  font-size: inherit;
}
.list-inline-gh{
  font-size: inherit;
}

.toprow{
  margin-left: 33%;
  color: #2d3038;
}

/* ==========================================================================
     Home Banner
  ========================================================================== */
 
 /* Navigation */
 
 #navigation.menu-one .navbar {
  width: 30%;
  left: inherit;
  right: 0;
}

#navigation .navbar-nav>li {
  background-color: #2d3038;
  
}

#navigation.menu-one .navbar-nav>li {
  float: none;
  height: 9.1%;
  position: relative;
  margin-left: 10px;    
}

#navigation.menu-one .navbar-nav {
  float: none;
}

#navigation.menu-one .navbar-nav> li:hover,
#navigation.menu-one .navbar-nav> li.current {
  margin-left: 0;
  padding-left: 10px;
}

#navigation .navbar-nav>li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
}

#navigation.menu-one .navbar-nav>li span {
  position: absolute;
  top: 50%;
  left: 90px;
  margin-top: -8px;
}

#navigation .navbar-nav>li i {
  position: absolute;
  left: -50px;
  font-size: 30px;
  margin-top: -6px;
}

.nav>li>a:focus, 
/*.nav>li>a:hover {
  background-color: transparent;
}*/

#navigation.menu-one .navbar:before {
  left: 15px;
  right: -100%;
} 

#navigation.menu-one .navbar:after {
 display: none;

}

.home-one .logo {
  height: 65px;
  float: none;
  margin-left: 10px;
  padding: 4px 30px;
}

.home-one .navbar-nav {
  margin-top: 65px;
}

#navigation .navbar-nav>li:nth-child(1) {
  background-color: #f4bf00;
}

#navigation .navbar-nav>li:nth-child(2) {
  background-color: #f7941d;
}

#navigation .navbar-nav>li:nth-child(3) {
  background-color: #f26522;
}

#navigation .navbar-nav>li:nth-child(4) {
  background-color: #ed1c24;
}

#navigation .navbar-nav>li:nth-child(5) {
  background-color: #e10337;
}

#navigation .navbar-nav>li:nth-child(6) {
  background-color: #b90162;
}

#navigation .navbar-nav>li:nth-child(7) {
  background-color: #873e95;
}

#navigation .navbar-nav>li:nth-child(8) {
  background-color: #3c70b4;
}

#navigation .navbar-nav>li:nth-child(9) {
  background-color: #05ac80;
}

#navigation .navbar-nav>li:last-child {
  background-color: #87c05e;
}

#navigation .navbar-nav>li .social {
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 35px;
}

#navigation .navbar-nav>li ul li {
  padding: 0;
}

#navigation .navbar-nav>li ul li i {
  font-size: 16px;
  margin-right: 0;
  position: inherit;
}

#navigation .navbar-nav>li ul li a {
  padding: 10px;
}

#navigation .navbar-nav>li ul li a:hover i {
  font-size: 16px;
  color: #000;
}

/* home-two */

#navigation .navbar {
  border: 0;
}

#navigation.menu-two .navbar-nav>li a {
  padding: 28px 18px;
  height: inherit;
  position: inherit !important;
}

#navigation.menu-two .navbar-nav>li.current a,
#navigation.menu-two .navbar-nav>li a:hover {
  padding-bottom: 40px;
}

#navigation.menu-two .navbar-nav>li:last-child a:hover,
#navigation.menu-two .navbar-nav>li:last-child.current a {
  
}

#navigation.menu-two .navbar-nav>li:last-child {
  background-color: #3c70b4;
}

#navigation .navbar:before,
#navigation .navbar:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 76px;
  background-color: #2d3038;
  z-index: -1;
}

#navigation .navbar:before {
  right:0;
  background-color: #2d3038;
  left: -100%;
}

#navigation .navbar:after {
  left: 50%;
  background-color: #3c70b4;
  right: 0;
  z-index: -1;
}

.logo {
  background-color: #2d3038;
  height: 76px;
  padding: 9px 25px 10px 15px;
}

.menu-two .navbar-fixed-top {
  max-width: 1170px;
  margin: 0 auto;
}

 /*Dropdown CSS*/
 
 ul.sub-menu {
  position: absolute;
  top: 100%;
  left: 0;
  list-style: none;
  padding:7px 0;
  margin: 0;
  min-width: 160px; 
  display: none;
  z-index: 999;
  background-color: #f4bf00;
}
  
.nav.navbar-nav > li:hover > ul.sub-menu {
  display: block;
  -webkit-animation: fadeInUp 500ms;
  -moz-animation: fadeInUp 500ms;
  -ms-animation: fadeInUp 500ms;
  -o-animation: fadeInUp 500ms;
  animation: fadeInUp 500ms;
}

#navigation.menu-two .navbar-nav .sub-menu li a {
    padding: 5px 18px;
    color: #fff;
    font-size: 13px;
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@-webkit-keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

@keyframes fadeInUp {
  0% {
    opacity: 0;
    -webkit-transform: translateY(30px);
    transform: translateY(30px);
  }

  100% {
    opacity: 1;
    -webkit-transform: translateY(0);
    transform: translateY(0);
  }
}

.fadeInUp {
  -webkit-animation-name: fadeInUp;
  animation-name: fadeInUp;
}

/*End Drpdown Menu CSS*/

/* Navbar Toggle */
 
.navbar-toggle {
  border-color: #fff;
  /*background-color: transparent;*/
  padding: 12px 10px;
}

.navbar-toggle .icon-bar {
  background-color: #fff;
}

.home-banner-one {
  background-color: #e7e7e7;
}

.home-banner-one .banner-content {
  background-image: url(../images/bg/banner.jpg);
  background-color: #e7e7e7;
  position: relative;
  background-position: center;
  background-size: cover;
}

.home-two #home-banner {
  background-image: url(../images/bg/2.png);
  background-repeat: no-repeat;
  background-position: right;
  background-size: contain;
}

.banner-info h1 {
  font-size: 36px;
  font-family: 'Pacifico', cursive;
}

.banner-info h2 {
  font-size: 108px;
  margin-top: 0;
  line-height: 92px;
  margin-left: -8px;
}

.banner-info h3 {
  font-size: 16px;
  text-transform: uppercase;
  letter-spacing: 26px;
}

/* The sticky class is added to the navbar with JS when it reaches its scroll position */
.sticky {
  position: fixed;
  top: 0;
  width: 100%
}

.round.pic {
  border-radius: 50%;
}

.stamp {
	width: 350px;
	height: 417px;
	display: inline-block;
	padding: 7px;
	background:#3c70b4;
	position: relative;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
	  #3c70b4 4px,
		#3c70b4
	);
  
	/*reducing the gradient size*/
	background-size: 20px 20px;
	/*Offset to move the holes to the edge*/
	background-position: -10px -10px;
}
.stamp:after {
	content: '';
  position: absolute;
	/*We can shrink the pseudo element here to hide the shadow edges*/
	left: 5px; top: 5px; right: 5px; bottom: 5px;
	/*Shadow - doesn't look good because of the stamp cutout. We can still move this into another pseudo element behind the .stamp main element*/
	
  /*box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);*/
	/*pushing it back*/
	z-index: -1;
}
/*Some text*/
.stamp:before {
	position: absolute;
	bottom: 0; left: 0;
	font: bold 24px arial;
	color:#3c70b4;
	opacity: 0.75;
	line-height: 100%;
	padding: 20px;
}

/* Home Two  */
 
.home-two .banner-info h1 {
  font-size: 72px;
  margin-bottom: 0;
  font-family: 'Sacramento', cursive;
}

.banner-content, #home-banner {
  position: relative;
  width: 100%;
  height: 700px;
}

.banner-content .banner-info {
  position: absolute;
  top: 50%;
  width: 100%;
  height: 100%;
  margin-top: -100px
}

.home-two .home-social {
  position: absolute;
  top: 40px;
}

.menu-two .home-social li+li {
  margin-left: 15px;
}

.menu-two .home-social li a {
  color: #2d3038;
  font-size: 16px;
}

.menu-two .home-social li a:hover {
  color: #00aeef;
}

/* About Section */
 

.about-section .section-title {
  margin-bottom: 45px;
}

.about-section .section-title h4 {
  margin-top: 0;
  line-height: 0;
} 

.about-info {
  font-size: 14px;
  line-height: 24px;
}

.about-info .signature h1 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Sacramento', cursive;    
}

.about-section address {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}

.about-section address span {
  font-weight: 700;
}

/* Skill Section */
 
.skill-section .rating-bar {
  width: 360px;
}

.progress-content {
  overflow: hidden;
}

.bar-left {
  float: left;
}

.bar-right {
  float: right;
}

.rating-bar label,
.rating-bar span {
  font-size: 16px;
  margin-bottom: 10px;
}

.skill-progress {
  position: relative;
  margin-bottom: 40px;
}

.progress {
  height: 8px;
  margin-bottom: 22px;
  background-color: #ebebeb;
  border-radius: 4px;
  box-shadow: none;
  width: 100%;
  position: relative;
}

.progress-bar {
 background-color: #f4bf00;
 box-shadow: none;
-webkit-transition: width 2s ease-in-out;
-moz-transition: width 2s ease-in-out;
-ms-transition: width 2s ease-in-out;
-o-transition: width 2s ease-in-out;
transition:  width 2s ease-in-out;
border-radius: 4px;   
}

.progress-bar.bar1 {
  background-color: #b90162;
}

.progress-bar.bar2 {
  background-color: #3c70b4;
}

.progress-bar.bar3 {
  background-color: #f26522;
}

.progress-bar.bar4 {
  background-color: #ed1c24;
}

.progress-bar.bar5 {
  background-color: #87c05e;
}

.text-info {
  font-size: 14px;
  line-height: 24px;
  color: #2d3038;
  margin-bottom: 50px;
}

/* Experience Section */
 
.exprience-section .exprience {
  overflow: hidden;
}

.exprience-image {
  float: left;
  margin-right: 20px;
  width: 175px;
  height: 160px;
  overflow: hidden;
}

.exprience-section .exprience img {
  -webkit-transform: scale(1.1);
  -moz-transform: scale(1.1);
  -ms-transform: scale(1.1);
  -o-transform: scale(1.1);
  transform: scale(1.1);
}

.exprience-section .exprience:hover img  {
  -webkit-transform: scale(1);
  -moz-transform: scale(1);
  -ms-transform: scale(1);
  -o-transform: scale(1);
  transform: scale(1);    
}

.exprience-info {
  font-size: 14px;
  line-height: 24px;
}

.exprience-info h3 {
  margin-bottom: 0;
  line-height: 28px;
  margin-top: 15px;
}

.exprience-info h5 {
  font-size: 16px;
  font-weight: normal;
  margin-top: 0;
  margin-bottom: 20px;
}

 /*Magnific-popup overwrite CSS*/
 
 .mfp-figure {
  background-color: #fff;
}

img.mfp-img {
  padding:12px;
}

.mfp-image-holder .mfp-close {
  top:-35px;
}

.mfp-zoom-out-cur .mfp-image-holder .mfp-close {
  cursor:pointer;
}

.mfp-counter {
  right: 50%;
  color: #fff;
  top: 50px;
  margin-right: -20px;
}

/* Contact Section */

.contact-section .icons {
  float: left;
  font-size: 36px;
  margin-right: 30px;
}

.home-two .contact-section .section-title h1 {
  margin-top: 20px;
}

.contact-section li {
  border-bottom: 1px solid #f1f1f1;
  padding: 30px 0;
}

.contact-section li:first-child {
  padding-top: 25px;
}

.contact-section h3 {
  margin-top: 5px;
}

.contact-section li,
.contact-section li a {
  font-size: 16px;
  color: #2d3038;
}

.contact-section li a:hover {
  color: #87c05e;
}

.contact-section li:hover .icons,
.contact-info:hover .icons {
  -webkit-transform:rotate(360deg) ;
  -moz-transform:rotate(360deg) ;
  -ms-transform:rotate(360deg) ;
  -o-transform:rotate(360deg) ;
  transform:rotate(360deg) ;
}

.contact-section .icons,
.contact-info .icons {
  -webkit-transition: all 800ms;
  -moz-transition: all 800ms;
  -ms-transition: all 800ms;
  -o-transition: all 800ms;
  transition: all 800ms;
}

.contact-section .icons {
  color: #f7941d;
}

.contact-section .icons1 {
  color: #ed1c24;
}

.contact-section .icons2{
  color: #b90162;
}

.contact-section .icons3 {
  color: #3c70b4;
}

.contact-section .social li {
  border: none;
  padding: 0;
}

.contact-section .social li+li {
  margin-left: 10px;
}

.contact-section .social a {
  color: #2d3038;
}

.contact-section .social i.fa-facebook:hover {
  color: #4060A5;
}

.contact-section .social i.fa-twitter:hover {
  color: #00ABE3;
}

.contact-section .social i.fa-google-plus:hover {
  color: #E64522;
}

.contact-section .social i.fa-dribbble:hover {
  color: #EA4C89;
}

.contact-section .social i.fa-behance:hover {
  color: #2E99D1;
}

.contact-section .social i.fa-github-alt:hover {
  color: #417DB9;
}

.contact {
  font-size: 16px;
  line-height: 24px;
  padding-left: 50px;
  margin-top: 45px;
}

.contact .contact-info {
  margin-bottom: 15px;
}

.contact .title {
  position: relative;
}

.contact .icons {
  position: absolute;
  left: -50px;
  top: 0;
  font-size: 36px;
}

.contact .icons i {
  color: #87c05e;
}

.contact .form-group {
  margin-top: 20px;
  margin-bottom: 0;
}

.contact .form-control {
  height: 45px;
  line-height: 45px;
  border: none;
  box-shadow: none;
  color: #2d3038;
  font-size: 14px;
  background-color: #f2f2f2;
  padding-left: 20px;
  padding-right: 25px;
  border: 1px solid #f2f2f2;
}

.contact .form-control:focus {
  border-color: #87c05e;
}

.contact textarea.form-control {
  resize: none;
  height: 125px;
}

.contact .btn.btn-primary {
  margin-top: 20px;
}

.contact .form-control::-webkit-input-placeholder {
 color: #2d3038;
}

.contact .form-control:-moz-placeholder {
 color: #2d3038;  
}

.contact .form-control::-moz-placeholder { 
 color: #2d3038;  
}

.contact .form-control:-ms-input-placeholder {  
 color: #2d3038;  
}
