* {margin: 0; padding: 0;}

.row {
    border: 0px solid black;
    height: 200px;
  }
  
  .col-sm-6 {
    height: 150px;
  }
  
  .col-sm-4 {
    
    height: 200px;
  }
  
  .col-sm-8 {
    
    height: 200px;
  }
  
  .col-sm-3 {
    
    height: 200px;
  }
  
  .col-sm-9 {
    
    height: 200px;
  }

  .col-md-4 {
    
    height: 200px;
  }

  .table {
    width: 400px;
  }
  form {
    width: 400px;
  }
  
  .label, label.inline {
    display: inline-block;
    width: 100px;
  }
  .container {
    height: 300px;
  }
  body {
    background-color: lightblue;
} 

  #corners {
    border-radius: 25px;
  }

  #padding {
    padding-bottom: 25px;
  }

  h1, h2, h3, h4, h5, h6 {
    font-family: 'Montserrat', sans-serif;
    font-weight: 700;
    color: #2d3038;
  }

  .banner-info h1 {
    font-size: 36px;
    font-family: 'Pacifico', cursive;
}

.banner-info h2 {
    font-size: 96px;
    margin-top: 0;
    line-height: 92px;
    margin-left: -8px;
}

.banner-info h3 {
    font-size: 16px;
    text-transform: uppercase;
    letter-spacing: 26px;
}

.home-two .home-social {
  position: absolute;
  top: 40px;
}

.menu-two .home-social li+li {
  margin-left: 15px;
}

.menu-two .home-social li a {
  color: #2d3038;
  font-size: 16px;
}

.menu-two .home-social li a:hover {
  color: #00aeef;
}

/* ==========================================================================
     Home Banner
  ========================================================================== */
 
 /* Navigation */
 
 #navigation.menu-one .navbar {
  width: 30%;
  left: inherit;
  right: 0;
}

#navigation .navbar-nav>li {
  background-color: #2d3038;
}

#navigation.menu-one .navbar-nav>li {
  float: none;
  height: 9.1%;
  position: relative;
  margin-left: 10px;    
}

#navigation.menu-one .navbar-nav {
  float: none;
}

#navigation.menu-one .navbar-nav> li:hover,
#navigation.menu-one .navbar-nav> li.current {
  margin-left: 0;
  padding-left: 10px;
}

#navigation .navbar-nav>li a {
  color: #fff;
  font-size: 14px;
  text-transform: uppercase;
  display: block;
  height: 100%;
  width: 100%;
  padding: 0;
}

#navigation.menu-one .navbar-nav>li span {
  position: absolute;
  top: 50%;
  left: 90px;
  margin-top: -8px;
}

#navigation .navbar-nav>li i {
  position: absolute;
  left: -50px;
  font-size: 30px;
  margin-top: -6px;
}

.nav>li>a:focus, 
.nav>li>a:hover {
  background-color: transparent;
}

#navigation.menu-one .navbar:before {
  left: 15px;
  right: -100%;
} 

#navigation.menu-one .navbar:after {
 display: none;

}

.home-one .logo {
  height: 65px;
  float: none;
  margin-left: 10px;
  padding: 4px 30px;
}

.home-one .navbar-nav {
  margin-top: 65px;
}

#navigation .navbar-nav>li:nth-child(1) {
  background-color: #f4bf00;
}

#navigation .navbar-nav>li:nth-child(2) {
  background-color: #f7941d;
}

#navigation .navbar-nav>li:nth-child(3) {
  background-color: #f26522;
}

#navigation .navbar-nav>li:nth-child(4) {
  background-color: #ed1c24;
}

#navigation .navbar-nav>li:nth-child(5) {
  background-color: #e10337;
}

#navigation .navbar-nav>li:nth-child(6) {
  background-color: #b90162;
}

#navigation .navbar-nav>li:nth-child(7) {
  background-color: #873e95;
}

#navigation .navbar-nav>li:nth-child(8) {
  background-color: #3c70b4;
}

#navigation .navbar-nav>li:nth-child(9) {
  background-color: #05ac80;
}

#navigation .navbar-nav>li:last-child {
  background-color: #87c05e;
}

#navigation .navbar-nav>li .social {
  position: absolute;
  top: 50%;
  margin-top: -19px;
  left: 35px;
}

#navigation .navbar-nav>li ul li {
  padding: 0;
}

#navigation .navbar-nav>li ul li i {
  font-size: 16px;
  margin-right: 0;
  position: inherit;
}

#navigation .navbar-nav>li ul li a {
  padding: 10px;
}

#navigation .navbar-nav>li ul li a:hover i {
  font-size: 16px;
  color: #000;
}

/* home-two */

#navigation .navbar {
  border: 0;
}

#navigation.menu-two .navbar-nav>li a {
  padding: 28px 18px;
  height: inherit;
  position: inherit !important;
}

#navigation.menu-two .navbar-nav>li.current a,
#navigation.menu-two .navbar-nav>li a:hover {
  padding-bottom: 40px;
}

#navigation.menu-two .navbar-nav>li:last-child a:hover,
#navigation.menu-two .navbar-nav>li:last-child.current a {
  
}

#navigation.menu-two .navbar-nav>li:last-child {
  background-color: #3c70b4;
}

#navigation .navbar:before,
#navigation .navbar:after {
  position: absolute;
  content: "";
  top: 0;
  width: 100%;
  height: 76px;
  background-color: #2d3038;
  z-index: -1;
}

#navigation .navbar:before {
  right:0;
  background-color: #2d3038;
  left: -100%;
}

#navigation .navbar:after {
  left: 50%;
  background-color: #3c70b4;
  right: 0;
  z-index: -1;
}

.logo {
  background-color: #2d3038;
  height: 76px;
  padding: 9px 25px 10px 15px;
}

.menu-two .navbar-fixed-top {
  max-width: 1170px;
  margin: 0 auto;
}

.round.pic {
  border-radius: 50%;
}

.stamp {
	width: 350px;
	height: 417px;
	display: inline-block;
	padding: 7px;
	background:#3c70b4;
	position: relative;
	-webkit-filter: drop-shadow(0px 0px 10px rgba(0,0,0,0.5));
	/*The stamp cutout will be created using crisp radial gradients*/
	background: radial-gradient(
		transparent 0px, 
		transparent 4px, 
	  #3c70b4 4px,
		#3c70b4
	);
  
	/*reducing the gradient size*/
	background-size: 20px 20px;
	/*Offset to move the holes to the edge*/
	background-position: -10px -10px;
}
.stamp:after {
	content: '';
  position: absolute;
	/*We can shrink the pseudo element here to hide the shadow edges*/
	left: 5px; top: 5px; right: 5px; bottom: 5px;
	/*Shadow - doesn't look good because of the stamp cutout. We can still move this into another pseudo element behind the .stamp main element*/
	
  /*box-shadow: 0 0 20px 1px rgba(0, 0, 0, 0.5);*/
	/*pushing it back*/
	z-index: -1;
}
/*Some text*/
.stamp:before {
	position: absolute;
	bottom: 0; left: 0;
	font: bold 24px arial;
	color:#3c70b4;
	opacity: 0.75;
	line-height: 100%;
	padding: 20px;
}

/* About Section */
 
.about-section .section-title {
  margin-bottom: 45px;
}

.about-section .section-title h4 {
  margin-top: 0;
  line-height: 0;
} 

.about-info {
  font-size: 14px;
  line-height: 24px;
}

.about-info .signature h1 {
  font-weight: normal;
  margin-top: 20px;
  margin-bottom: 40px;
  font-family: 'Sacramento', cursive;    
}

.about-section address {
  font-size: 16px;
  line-height: 30px;
  margin-bottom: 40px;
}

.about-section address span {
  font-weight: 700;
}

/* Skill Section */
 
.skill-section .rating-bar {
  width: 360px;
}

.progress-content {
  overflow: hidden;
}

.bar-left {
  float: left;
}

.bar-right {
  float: right;
}

.rating-bar label,
.rating-bar span {
  font-size: 16px;
  margin-bottom: 10px;
}

.skill-progress {
  position: relative;
  margin-bottom: 40px;
}

.progress {
  height: 8px;
  margin-bottom: 22px;
  background-color: #ebebeb;
  border-radius: 4px;
  box-shadow: none;
  width: 100%;
  position: relative;
}

.progress-bar {
 background-color: #f4bf00;
 box-shadow: none;
-webkit-transition: width 2s ease-in-out;
-moz-transition: width 2s ease-in-out;
-ms-transition: width 2s ease-in-out;
-o-transition: width 2s ease-in-out;
transition:  width 2s ease-in-out;
border-radius: 4px;   
}

.progress-bar.bar1 {
  background-color: #b90162;
}

.progress-bar.bar2 {
  background-color: #3c70b4;
}

.progress-bar.bar3 {
  background-color: #f26522;
}

.progress-bar.bar4 {
  background-color: #ed1c24;
}

.progress-bar.bar5 {
  background-color: #87c05e;
}

.text-info {
  font-size: 14px;
  line-height: 24px;
  color: #2d3038;
  margin-bottom: 50px;
}

.text-info h4 {}