body {
    background-color: #60A4BB;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
  }

  form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  p {
    font-family: Sans-serif;
  }

  #text-center {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }

  #round-corner {
    border-radius: 8px;
  }

  input {
    margin: 5px;
  }
  .slide{
    position: absolute;
    left: 0px;
    top: 0px;
    width: 100%;
    z-index: 1;
    opacity: 0;
    transition: opacity 0.5s;
  }
  .active-slide{
    opacity: 1;
    z-index: 2;
  }
  .quiz-container{
    position: relative;
    height: 200px;
    margin-top: 40px;
  }
