<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hands-On-Express</title>

  </head>
  <body>

    <header>
      <div>
        <form action="/user" method="POST">
    <div>
        <label for="firstName">First Name: </label>
        <input type="text" name="firstName">
    </div>
    <div>
        <label for="lastName">Last Name: </label>
        <input type="text" name="lastName">
    </div>
    <div>
        <label for="username">Username: </label>
        <input type="number" name="username">
    </div>
    <div>
        <label for="password">Password: </label>
        <input type="number" name="password">
    </div>
    <div>
        <button type="submit">Submit</button>
    </div>
</form>
      </div>
      <nav>
        <ul>
          <li><a href="user">Click Here</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p>Your text area playground</p>
    </main>
  </body>
</html>
