.row {
    border: 0px solid black;
    height: 200px;
  }
  
  .col-sm-6 {
    height: 150px;
  }
  
  .col-sm-4 {
    border: 1px solid black;
    height: 200px;
  }
  
  .col-sm-8 {
    border: 1px solid black;
    height: 200px;
  }
  
  .col-sm-3 {
    border: 1px solid black;
    height: 200px;
  }
  
  .col-sm-9 {
    border: 1px solid black;
    height: 200px;
  }

  .col-md-4 {
    border: 1px solid black;
    height: 200px;
  }

  .table {
    width: 400px;
  }
  form {
    width: 400px;
  }
  .jumbotron {
    width: 500px;
    margin:0 auto;
  }
  .label, label.inline {
    display: inline-block;
    width: 100px;
  }
  .container {
    height: 300px;
  }
  body {
    background-color: lightblue;
}