body {
    background-color: #60A4BB;
    margin-left: auto;
    margin-right: auto;
    width: 42%;
  }
  
  form {
    margin-left: auto;
    margin-right: auto;
    width: 50%;
  }

  h1 {
    text-align: center;
  }
  
  #postBirthday {
    font-size: 32px;
    text-align: center;
  }
  
  p {
    font-family: Sans-serif;
    text-align: center;
  }
  
  #text-center {
    text-align: center;
    padding-top: 2px;
    padding-bottom: 2px;
  }
  
  #round-corner {
    border-radius: 8px;
  }
  
  input {
    margin: 5px;
  }