* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.col-sm-3 {
    border: 1px solid black;
    height: 1000px;
  }
  
  .col-sm-9 {
    border: 1px solid black;
    height: 1000px;
  }