<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hands-On-Express</title>

  </head>
  <body>

    <header>
      <h1>A breaking news alert showed a llama running on the freeway.</h1>
      <nav>
        <ul>
          <li><a href="end">Click Here</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p></p>
    </main>
  </body>
</html>
