<!DOCTYPE html>
<html lang="en" dir="ltr">
  <head>
    <meta charset="utf-8">
    <title>Hands-On-Express</title>

  </head>
  <body>

    <header>
      <h1>Even though we saw that three years ago, we still laugh to this day.</h1>
      <nav>
        <ul>
          <li><a href="final">Click Here</a></li>
        </ul>
      </nav>
    </header>
    <main>
      <p>My express playground</p>
    </main>
  </body>
</html>
