html, body {
    height: 100%;
    width: 100%;
    padding: 0;
    margin: 0;
}

body {
    display: flex;
    flex-direction: column;
}

header {
    height: 75px;
    font-family: 'Indie Flower', cursive;
    font-weight: bold;
    text-align: center;
}

main {
    flex: auto;
    background-color: #ccc;
}

footer {
    height: 100px;
}